.vistaMenu {
  display: inline;
  background-color: #21252913;
}

.AppContainer {
  background-color: #21252913;

}
.vistaMenu {

}
.vistaReproductor {
}
.vistaCentro{
   margin: 3em auto;
  max-width: 50em;
}
.navigation > *{
  padding:10%;
}
